---
import { Image } from "astro:assets";
import LaunchImages from "../../components/LaunchImages.astro";
import Layout from "../../layouts/Layout.astro";
import { getLaunchById, spaceXAPI } from "../../services/spaceXFetchLaunch";

const { id } = Astro.params;

export const getStaticPaths = ( async () => {
  const res = await fetch(`${spaceXAPI}`)
  const posts = await res.json();
  return posts.map(post => {
    return {
      params: {id:post.id}
    }
  })
})

  const launch = await getLaunchById({ id });

---

<Layout title=`Lanzamiento ${launch.name}`>
  <div class="flex justify-center items-center m-6 ">
    <article
      class="rounded-xl mx-0 justify-self-center self-center m-0 border shadow-md bg-gray-900 border-gray-700
    "
    >
    <div class="flex flex-col md:flex-row gap-6 p-6">
      {launch.links.patch.small != null &&
      <picture
        class="self-center justify-self-center py-4 "
      >
        <Image
          class="min-w-72 aspect-square"
          src={launch.links.patch.small}
          alt={`Imagen del Lanzamiento ${id}`}
          loading="eager"
          width='288'
          height='288'
        />
      </picture>
    }
      <header
        class="p-4 md:pr-8 md:row-start-1 md:col-start-2 row-start-2 self-center"
      >
        <div
          class="flex flex-col md:flex-row items-center justify-between pb-8"
        >
          <span
            class:list={[
              "text-sm mb-4 md:mb-0 text-center font-semibold md:mr-2 px-2.5 rounded",
              {
                "bg-green-400 text-green-900": launch.success,
                "bg-red-400 text-red-900": !launch.success,
              },
            ]}
          >
            {launch.success ? "Exitoso" : "Fallido"}
          </span>
          <p class="text-right text-gray-300">
            {new Date(launch.date_utc).toLocaleDateString()}
          </p>
        </div>
        <h2 class="mt-1 text-2xl font-bold tracking-tight text-white pb-2">
          {launch.name}
        </h2>
        <p class="mb-6 mt-4 font-light text-gray-400 text-pretty">
          {
            launch.details
              ? launch.details
              : "No hay detalles de este Lanzamiento."
          }
        </p>
        <div class="flex flex-col mx-auto gap-8 md:flex-row w-fit">
          
          {launch.links.article &&
          <a
            class="hover:text-gray-200 bg-slate-800 rounded-lg px-4 py-2 font-light tracking-widest
              opacity-70 hover:shadow-lg hover:opacity-100 text-white text-center"
            href=`${launch.links.article}`
            >Artículo</a
          >}
          
          {launch.links.wikipedia &&
          <a
            class="hover:text-gray-200 bg-slate-800 rounded-lg px-4 py-2 font-light tracking-widest
              opacity-70 hover:shadow-lg hover:opacity-100 text-white text-center"
            href=`${launch.links.wikipedia}`
            >Wikipedia</a
          >}
          
        </div>
      </header>
    </div>

      <div class="flex flex-col pb-16 px-4 items-center">
        <h4 class="pb-4">Video del Lanzamiento</h4>
        <iframe
          loading = "lazy"
          class="aspect-video h-auto min-h-96 max-w-full"
          src=`https://www.youtube.com/embed/${launch.links.youtube_id}`
          title=`Video de Youtube del Lanzamiento de "${launch.name}"`
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe> 
      </div>
      {(launch.links.flickr.original.length > 0) &&
      <LaunchImages gallery={launch.links.flickr.original} name={launch.name}/>
      }
    </article>
  </div>
</Layout>
